<!-- templates/partials/stock_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='item-title'>Title</label><br>
        <input class='form-control' id='item-title' type='text' name='title' value='{{ item.title }}'/>
    </div>
    
    <!-- DESCRIPTION -->
    <div class='form-group'>
      <label for='description'>Description</label><br>
      <input class='form-control' id='description' type='text' name='description' value='{{ item.description }}' />
    </div>
    
    <!-- COST -->
    <div class='form-group'>
        <label for='item-cost'>Costs</label><br>
        <p>Change cost in the form of '0.00'.</p>
        <input class='form-control' id='cost' type='text' name='cost' value='{{ item.cost }}' />
    </div>
    </fieldset>
    
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Snake</button>
    </p>